FIREBASE_API_KEY=isi_dari_firebase_console
FIREBASE_AUTH_DOMAIN=potentiostat-juna.firebaseapp.com
FIREBASE_DATABASE_URL=https://potentiostat-juna-default-rtdb.firebaseio.com
FIREBASE_PROJECT_ID=potentiostat-juna
FIREBASE_STORAGE_BUCKET=potentiostat-juna.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=681315095767
FIREBASE_APP_ID=1:681315095767:web:1ac7cbfc56a73636718c92
FIREBASE_MEASUREMENT_ID=G-KQR9L7TLDX
FIREBASE_DEVICE_PATH=potentiostat
FIREBASE_APP_CHECK_SITE_KEY=opsional_recaptcha_v3_site_key
